{% extends "layouts/dashboard-layout.html" %}



{% block container %} 

<section class="hero">
    <div class="hero-body">
      <div class="container">
        {% if current_user.UserType != 'ADMIN' %}
            <h1 class="title">
                Congrats!
            </h1>
            <h2 class="subtitle">
                These are the available cars from <code>{{pickup_datetime}}</code> to <code>{{return_datetime}}</code>
        </h2>
        {% else %}
            <h1 class="title">
                Manage cars
            </h1>
            <a class="button is-link is-outlined" href={{url_for('car_management_controllers.add_car')}}>Add Car</a>
        {% endif %}
      </div>
    </div>
</section>

<section>
    <div class="container">

        {% include "components/search.html" %}

        <div class="box">
            <div class="table-container">
                <table class="table w-full text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Make</th>
                            <th>Seats</th>
                            <th>Body type</th>
                            <th>Location</th>
                            <th>Colour</th>
                            <th>Cost per Hour</th>
                            <th>Fuel type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in cars %}
                            <tr>
                                <td>{{car.ID}}</td>
                                <td>{{car.Make}}</td>
                                <td>{{car.Seats}}</td>
                                <td>{{car.BodyType}}</td>
                                <td>{{car_coordinates[tuple(eval(car.HomeCoordinates))]}}</td>
                                <td>{{car.Colour}}</td>
                                <td>${{car.CostPerHour}}</td>
                                <td>{{car.FuelType}}</td>
                                {% if current_user.UserType != 'ADMIN' %}
                                    <td>
                                        <form action={{url_for('booking_controllers.confirm_booking')}} method="post">
                                            <input type="hidden" name="car_id" value = "{{car.ID}}">
                                            <input type="hidden" name="pickup_datetime" value = "{{pickup_datetime}}">
                                            <input type="hidden" name="return_datetime" value = "{{return_datetime}}">
                                            <input type="submit" class="button is-success" name="book" value="Book">
                                        </form>
                                    </td>
                                {% else %}
                                    <td>
                                        <form action={{url_for('car_management_controllers.view_car', id=car.ID)}}>
                                            <input type="submit" class="button is-success" name="view" value="View">
                                        </form>
                                    </td>
                                    <td>
                                        <a class="button is-success" href={{url_for('issue_controllers.create_new_issue', id=car.ID)}}>
                                            Create Issue
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>

    </div>
</section>

{% endblock %}
