<nav class="panel">
    <p class="panel-heading">
      Car search system
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>

    <div class="panel-block">
        <div class="field has-addons w-full">
            <div class="control">
                <a class="button is-light">
                  <span>FuelType</span>
                </a>
            </div>
            <div class="control is-expanded">
                <div class="select is-fullwidth is-light">
                    <select>
                        <option>Any</option>
                        {% for fuel_type in car_fuel_types %}
                            <option value="{{fuel_type}}">{{fuel_type}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="field has-addons w-full">
            <div class="control">
                <a class="button is-light">
                  <span>Seats</span>
                </a>
            </div>
            <div class="control is-expanded">
                <div class="select is-fullwidth is-light">
                    <select>
                        <option>Any</option>
                        {% for seats in car_seats %}
                            <option value="{{seats}}">{{seats}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="field has-addons w-full">
            <div class="control">
                <a class="button is-light">
                  <span>BodyType</span>
                </a>
            </div>
            <div class="control is-expanded">
                <div class="select is-fullwidth is-light">
                    <select>
                        <option>Any</option>
                        {% for body_type in car_body_types %}
                            <option value="{{body_type}}">{{body_type}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="field has-addons w-full">
            <div class="control">
                <a class="button is-light">
                  <span>Colour</span>
                </a>
            </div>
            <div class="control is-expanded">
                <div class="select is-fullwidth is-light">
                    <select>
                        <option>Any</option>
                        {% for colour in car_colours %}
                            <option value="{{colour}}">{{colour}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <label class="panel-block">
        <input type="checkbox">
        Available
    </label>
    <div class="panel-block">
      <button class="button is-link is-outlined is-fullwidth">
        Search
      </button>
    </div>
  </nav>

  