{% extends "layouts/dashboard-layout.html" %}

{% block container %}
<div class="container">
    <table class="table">
        {% if err %}
        <div class="notification is-danger is-light">
            <p>{{err}}</p>
        </div>
        {% endif %}
        <thead>
            <tr>
                <th>ID</th>
                <th>CarID</th>
                <th>EngineerID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{issue.ID}}</td>
                <td>{{issue.CarID}}</td>
                <td>{{issue.UserID}}</td>
                <td>{{issue.Title}}</td>
                <td>{{issue.Description}}</td>
                <td>{{issue.getStatus(issue.Status)}}</td>
                {% if current_user.UserType == "ENGINEER" %}
                <td>
                    <a href={{url_for('issue_controllers.resolve_issue', id=issue.ID)}} class="button is-info"
                        value="Fixed">Fix</a>
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    {% if car %}
    <h1 class="title">Location of car</h1>
    <div name="map">
        <input type="hidden" name="pickup" name="pickup_map" data-x={{tuple(eval(car.HomeCoordinates))[0]}}
            data-y={{tuple(eval(car.HomeCoordinates))[1]}} />
        <div id="pickup_map" class="mt-6" style="width:100%;height:500px;"></div>
    </div>
    {% endif %}
    <div class="container">
        <h2 class="title">Car details</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Make</th>
                    <th>Seats</th>
                    <th>BodyType</th>
                    <th>Home Location</th>
                    <th>Current Location</th>
                    <th>Colour</th>
                    <th>CostPerHour</th>
                    <th>FuelType</th>
                    <th>TotalDistance</th>
                    <th>NumberPlate</th>
                    <th>Agent ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{car.ID}}</td>
                    <td>{{car.Make}}</td>
                    <td>{{car.Seats}}</td>
                    <td>{{car.BodyType}}</td>
                    <td>{{car_coordinates[tuple(eval(car.HomeCoordinates))]}}</td>
                    <td>{{car.Coordinates}}</td>
                    <td>{{car.Colour}}</td>
                    <td>${{car.CostPerHour}}</td>
                    <td>{{car.FuelType}}</td>
                    <td>{{car.TotalDistance}}</td>
                    <td>{{car.NumberPlate}}</td>
                    <td>{{car.AgentID}}</td>
                </tr>
            </tbody>
        </table>
        <div class="card-image ">
            <figure class="image is-square">
              <center><img src="{{car.Image}}" alt="Placeholder image" width="200"></center>
            </figure>
        </div>
    </div>


    <script>

        function initMap() {
            let pickup_data = document.querySelector("input[name='pickup']");
            let pickup_lat = pickup_data.getAttribute("data-x");
            let pickup_lng = pickup_data.getAttribute("data-y");

            let google = window.google;

            if (google) {
                var pickup_loc = { lat: parseFloat(pickup_lat), lng: parseFloat(pickup_lng) };
                var pickup_map = new google.maps.Map(
                    document.getElementById('pickup_map'), { zoom: 15, center: pickup_loc });
                var marker = new google.maps.Marker({ position: pickup_loc, map: pickup_map });
                var contentString = '<div id="content">' +

                    '<h1 class="title is-5">{{car.Make}}</h1>' +
                    '<div id="bodyContent">' +
                    '<p><b>Seats:</b> {{car.Seats}}</p>' +
                    '<p><b>Location:</b>{% if car %} {{car_coordinates[tuple(eval(car.HomeCoordinates))]   }} {% endif %}</p> ' +
                    '<p><b>Fuel Type:</b> {{car.FuelType}} </p> ' +
                    '<p><b>Colour:</b> {{car.Colour}} </p> ' +
                    '<p><b>Plate:</b> {{car.NumberPlate}} </p> ' +
                    '</div>' +
                    '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                marker.addListener('click', function () {
                    infowindow.open(pickup_map, marker);
                });
            }
        }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR6gYrFF5NEKEa9R2rDNCILa6i2RGvvWw&callback=initMap"
        type="text/javascript"></script>

    </script>
    {% endblock %}