{% extends "layouts/dashboard-layout.html" %}

{% block container %} 
<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          You've selected {{car.Make}}.
        </h1>
        <h2 class="subtitle">
          Car ID: {{car.ID}}
        </h2>
      </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="box">
            <div class="table-container">
                <table class="table w-full text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Make</th>
                            <th>Seats</th>
                            <th>Body type</th>
                            <th>Colour</th>
                            <th>Cost per Hour</th>
                            <th>Fuel type</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{car.ID}}</td>
                                <td>{{car.Make}}</td>
                                <td>{{car.Seats}}</td>
                                <td>{{car.BodyType}}</td>
                                <td>{{car.Colour}}</td>
                                <td>{{car.CostPerHour}}</td>
                                <td>{{car.FuelType}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="box">
            <h1 class="title">
                When?
            </h1>
            <form action={{url_for("booking_controllers.check_car_availability", car_id=car.ID)}} method="post">
                <h2 class="subtitle">
                    Pickup:
                </h2>
                <input type="datetime-local" name="pickup_datetime" step=600 required></br>
                <h2 class="subtitle">
                    Return:
                </h2>
                <input type="datetime-local" name="return_datetime" step=600 required></br>
                <input type="submit" name="checkavailability" value="Check availability" class="button is-success">
            </form>
        </div>
    </div>
</section>
{% endblock %}
