{% extends "layouts/dashboard-layout.html" %}

{% block container %} 
<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          You've selected {{car.Make}}.
        </h1>
        <h2 class="subtitle">
          Car ID: {{car.ID}}
        </h2>
      </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="box">
            <div class="table-container">
                <table class="table w-full text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Make</th>
                            <th>Seats</th>
                            <th>Body type</th>
                            <th>Location</th>
                            <th>Colour</th>
                            <th>Cost per Hour</th>
                            <th>Fuel type</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{car.ID}}</td>
                                <td>{{car.Make}}</td>
                                <td>{{car.Seats}}</td>
                                <td>{{car.BodyType}}</td>
                                <td>{{car_coordinates[tuple(eval(car.HomeCoordinates))]}}</td>
                                <td>{{car.Colour}}</td>
                                <td>{{car.CostPerHour}}</td>
                                <td>{{car.FuelType}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="box">
            <h1 class="title">
                When?
            </h1>
            <form action={{url_for("booking_controllers.check_car_availability", car_id=car.ID)}} method="post">
                <div class="field">
                    <div class="label">
                        Pickup time: 
                    </div>
                    <div class="control">
                        <input class="input" type="datetime-local" name="pickup_datetime" step=600 required>
                    </div>
                </div>

                
                <div class="field">
                    <div class="label"> Return time:</div>
                    <div class="control">
                        <input class="input" type="datetime-local" name="return_datetime" step=600 required></br>
                    </div>
                </div>
                
                {% if err %}
                <div class="field">
                    <article class="message is-danger">
                        <div class="message-body">
                            {{ err }}
                        </div>
                    </article>
                </div>
                {% endif %}
                
                <div class="field">
                    <input type="hidden" name="pickup" name="pickup_map" data-x={{tuple(eval(car.HomeCoordinates))[0]}} data-y={{tuple(eval(car.HomeCoordinates))[1]}}/>
                    <p><strong>Pickup and return location: </strong>{{car_coordinates[tuple(eval(car.HomeCoordinates))]}}</p> 
                    <div id="pickup_map" style="width:500px;height:200px;"></div>
                </div>
                    
                <input type="submit" name="checkavailability" value="Check availability" class="button is-success">
                
            </form>
        </div>
    </div>
</section>




<script>
// let changeMap = (event) => {
//     let type = event.target.getAttribute("for");
//     console.log("type", type);
//     let selected = event.target[event.target.selectedIndex];
//     let lat = selected.getAttribute("data-x");
//     let lng = selected.getAttribute("data-y");
//     var uluru = { lat: parseFloat(lat), lng: parseFloat(lng) };
//     var map = new google.maps.Map(document.getElementById(`${type}_map`), {zoom: 15, center: uluru});
//     var marker = new google.maps.Marker({position: uluru, map: map});
// }
    
// [...document.querySelectorAll("select")].map(e => e.addEventListener("change", changeMap, false));

function initMap() {
    let pickup_data = document.querySelector("input[name='pickup']");
    let pickup_lat = pickup_data.getAttribute("data-x");
    let pickup_lng = pickup_data.getAttribute("data-y");

    let google = window.google;
    
    if(google) {
        var pickup_loc = { lat: parseFloat(pickup_lat), lng: parseFloat(pickup_lng) };
        var pickup_map = new google.maps.Map(
        document.getElementById('pickup_map'), {zoom: 15, center: pickup_loc});
        var marker = new google.maps.Marker({position: pickup_loc, map: pickup_map});
    }
}

initMap();

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR6gYrFF5NEKEa9R2rDNCILa6i2RGvvWw&callback=initMap" type="text/javascript"></script>


{% endblock %}
