{% extends "layouts/dashboard-layout.html" %}



{% block container %} 

<section class="section hero justify-center items-center flex-row">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-black	">
                Welcome {{ current_user.Username }}! Have a nice day.
            </h1>
            <div class="columns is-centered">
                <div class="column">
                    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/1aqMA15RgwXxd2IuWNS00LedKb8xp_zHT/page/zTxSB" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="column">
                    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/1D0Gdi8UzqogqyrsbyE5iNBcMZLa_Zx_5/page/ZewSB" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="column">
                    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/16APLwjwpL56KlWsrQaB8WbZQzJiggSc0/page/BBxSB" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}